# sensitive files
api-keys.json

# temporary files
test.ipynb
test.py
*.tmp
__pycache__
trn.log
*.log
train_old.py
mydata.csv

# virtual environment
venv/

# big and external files
data/
third_party/
vision/

# output files
out/

# dataset visualization
vizes/
graphics/
